.track-card {
    margin: 10px;
}

.track-card:hover {
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

button {
    font-size: 20px;
    margin: 4px;
}

.d-none {
    display: none;
}

button:hover {
    box-shadow: 5px 5px rgb(0, 0, 0);
}